* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-navy-950: #303b59;
  --color-navy-200: #cac9ff;
  --color-navy-50: #ecf2ff;

  --color-blue-800: #1125d6;
  --color-blue-50: #f3f4fd;

  --color-yellow-400: #ffb21e;
  --color-yellow-50: #fffbf4;

  --color-red-400: #ff5555;
  --color-red-50: #fff6f6;

  --color-green-500: #00bb8f;
  --color-green-50: #f2fcf9;

  --gradient-soft: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  --gradient-hard: linear-gradient(to bottom, #7755ff, #2f2ce9);

  --spacing-0: 0px;
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-1000: 80px;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: var(--color-blue-50);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Text presets */
.heading-xxl {
  font-size: 72px;
  line-height: 1;
  letter-spacing: 0px;
  font-weight: 800;
}

.heading-xl {
  font-size: 56px;
  line-height: 1;
  letter-spacing: 0px;
  font-weight: 800;
}

.heading-lg {
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: 0px;
  font-weight: 700;
}

.heading-md {
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0px;
  font-weight: 700;
}

.body-lg-bold {
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0px;
  font-weight: 700;
}

.body-lg {
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0px;
  font-weight: 500;
}

.body-md-bold {
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0px;
  font-weight: 700;
}

.body-md {
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0px;
  font-weight: 500;
}

@media (width < 640px) {
  .heading-xxl {
    font-size: 56px;
  }

  .heading-lg {
    font-size: 24px;
  }

  .heading-md {
    font-size: 18px;
  }

  .body-lg-bold {
    font-size: 16px;
  }

  .body-lg {
    font-size: 16px;
  }
}

/* Color presets */
.color-reaction {
  background-color: var(--color-red-50);
  color: var(--color-red-400);
}

.color-memory {
  background-color: var(--color-yellow-50);
  color: var(--color-yellow-400);
}

.color-verbal {
  background-color: var(--color-green-50);
  color: var(--color-green-500);
}

.color-visual {
  background-color: var(--color-blue-50);
  color: var(--color-blue-800);
}

/* Main container */
.result-component {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  border-radius: 32px;
  background-color: var(--color-white);
  max-width: 736px;
  width: 100%;
  margin: 0 41px;
  box-shadow: 0 30px 60px 0 rgba(61, 108, 236, 0.16);
}

/* Result container */
.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--gradient-hard);
  border-radius: 32px;
  padding: 45px 54px;
  gap: var(--spacing-400);
}

.result-header {
  color: var(--color-navy-200);
}

.result-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--gradient-soft);
  border-radius: 999px;
  width: 200px;
  height: 200px;
}

.score-number {
  color: var(--color-white);
}

.score-total {
  color: var(--color-navy-200);
  opacity: 51.68%;
}

.result-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-200);
}

.result-title {
  color: var(--color-white);
}

.result-description {
  color: var(--color-navy-200);
  text-align: center;
}

/* Summary container */
.summary-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
  width: 288px;
}

.summary-header {
  color: var(--color-navy-950);
}

.summary-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
  list-style: none;
}

.summary-list li {
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  padding: 16.5px 19px;
}

.category {
  display: flex;
  gap: var(--spacing-200);
}

.category-score {
  display: flex;
  gap: var(--spacing-100);
  color: var(--color-navy-950);
}

.category-score-total {
  opacity: 50%;
}

/* Button */
.continue-btn {
  border: none;
  border-radius: 128px;
  background-color: var(--color-navy-950);
  color: var(--color-white);
  height: 56px;
  cursor: pointer;
}

.continue-btn:hover {
  background: var(--gradient-hard);
}

/* Media queries */
@media (width < 640px) {
  .result-component {
    grid-template-columns: 1fr;
    align-content: space-between;
    margin: 0;
    border-radius: 0;
    min-height: 100vh;
  }

  .result-container {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .summary-container {
    width: 100%;
    padding: 24px 30px 30px 30px;
  }

  .result-score {
    width: 140px;
    height: 140px;
  }

  .result-container {
    padding: 32px 57.5px;
  }

  .summary-container {
    gap: var(--spacing-300);
  }
}
